<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no\"
    />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../home.css" />
    <script src="../inputHandler.js"></script>
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Hee CONTROL</title>
  </head>

  <body>
    <h1>ESP8266 Hee CONTROL</h1>
    <div class="body-container">
      <!-- controller part -->
      <div class="container-control">
        <input type="hidden" id="time" value="<%= timeout %>" />
        <p style="font-size: 24px" id="water-status">
          Water Status: <% if(isActive){ %> On <% }else{%> Off <%}%>
        </p>
        <% if (isActive && !isDisabled) { %>
        <button
          class="button button-on"
          id="button-status"
          type="button"
          onclick="btnStatus()"
        >
          <p>ON</p>
        </button>

        <% } else if(isDisabled) { %>
        <button
          class="button button-off"
          id="button-status"
          type="button"
          disabled
        >
          <p>DISABLE</p>
        </button>

        <% } else{ %>
        <button
          class="button button-off"
          id="button-status"
          type="button"
          onclick="btnStatus()"
        >
          <p>OFF</p>
        </button>
        <%}%>

        <p style="font-size: 24px">Amount of water to fill</p>

        <div class="form__group field" id="water-value">
          <% if(isActive){ %>
          <label for="Amount" class="form__fieldblock">
            Wait for Watering ...
          </label>

          <%} else { %>
          <div class="form__box field" id="water-value">
            <input
            type="number"
            class="form__field"
            placeholder="Amount"
            name="Amount"
            id="water-amount"
            required
            min="4.44"
            max="1114.44"
            step="4.44"
            onchange="waterAmountChangeHandler()"
          />
            <label for="water-amount" class="form__label">Amount (mL)</label>
          </div>
          <button
            class="button button-log"
            id="submit-water"
            onclick="sendWater()"
          >
            Submit
          </button>

          <%} %>
        </div>
      </div>

      <!-- info part -->
      <div class="container-info">
        <h2>Real-time Info</h2>
        <div class="pill">
          <h6>Soil Humidity</h6>
          <p id="humid"><%= latest[0].humid %></p>
        </div>
        <div class="pill">
          <h6>Light</h6>
          <p id="light"><%= latest[0].light %></p>
        </div>
        <div class="pill">
          <h6>Prev Watering</h6>
          <p id="water"><%= latest[0].water %></p>
        </div>
        <p>updated: <%= (new Date(latest[0].time)).toLocaleString() %></p>
        <p style="font-size: 24px">get Information</p>
        <!-- <a class="button button-getinformation" href="/getinformation"
          >SubmitXnoNeed</a
        > -->
        <a
          class="button button-log"
          style="margin: 0px auto 35px"
          href="/log?id=0"
          >log</a
        >
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
    <script src="../function.js"></script>
  </body>
</html>
